.landing-header {
  position: relative;
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 0.3em;
  line-height: 1em;
  margin-bottom: .4rem;
  text-transform: uppercase;
  width: fit-content;
}

.landing-title {
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: .1rem;
  line-height: 1.1em;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.landing-subtitle {
  position: relative;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 0.08em;
  line-height: 1.2em;
  text-transform: uppercase;
  width: fit-content;
}

.landing-text {
  position: relative;
  text-align: center;
  font-weight: 400;
  letter-spacing: .06rem;
  font-size: 1.2rem;
  line-height: 1.4rem;
  max-width: var(--max-content-width);
}

.text-gradient-outline {
  padding-left: 3px;
  position: relative;
  display: block;
  background: var(--main-gradient);
  color: var(--background-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.04em transparent;
}

.text-outline {
  color: var(--background-color);
  background-color: var(--text-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: var(--decoration-line-thickness) transparent;
}

.text-gradient {
  background-image: var(--main-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-secondary {
  background-image: var(--secondary-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

span strong, p strong {
  background-image: var(--secondary-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: inherit;
}
