@font-face {
  font-family: 'Clash Display';
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url('assets/fonts/ClashDisplay-Variable.woff2') format('woff2') tech('variations'),
       url('assets/fonts/ClashDisplay-Variable.woff2') format('woff2-variations'),
       url('assets/fonts/ClashDisplay-Regular.woff2') format('woff2'),
       url('assets/fonts/ClashDisplay-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Author';
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url('assets/fonts/Author-Variable.woff2') format('woff2') tech('variations'),
       url('assets/fonts/Author-Variable.woff2') format('woff2-variations'),
       url('assets/fonts/Author-Regular.woff2') format('woff2'),
       url('assets/fonts/Author-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 200 800;
  font-display: swap;
  src: url('assets/fonts/PlusJakartaSans-Variable.woff2') format('woff2') tech('variations'),
       url('assets/fonts/PlusJakartaSans-Variable.woff2') format('woff2-variations'),
       url('assets/fonts/PlusJakartaSans-Regular.woff2') format('woff2'),
       url('assets/fonts/PlusJakartaSans-Regular.otf') format('opentype');
}

/* @font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
  src: url('assets/fonts/SourceCodePro-Variable.woff2') format('woff2 supports variations'),
       url('assets/fonts/SourceCodePro-Variable.woff2') format('woff2-variations'),
       url('assets/fonts/SourceCodePro-Regular.woff2') format('woff2'),
       url('assets/fonts/SourceCodePro-Regular.ttf') format('truetype');
} */

:root {
  --heading-font: "Clash Display", sans-serif;
  --primary-font: "Author", sans-serif;
  /* --primary-font: "Plus Jakarta Sans", sans-serif; */
  /* --code-font: Source Code Pro, monospace; */
}
